{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | About Us</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn selected" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h2>About Us</h2>
        <p>QWERTY Scans (the first 6 letters on the keyboard) was founded by Korsia and Rei on April 24, 2017. Our main focus is to balance out the speed and quality of each chapter release. We are an active scanlation group that simply wants to give back to the manga/webtoon community!</p>
        <br/><br/>
        <h3>FAQ</h3>
        <h4>I'm bored. What should I do?</h4>
        <p>You should <a hred="recruitment.html">join QWERTY Scans</a> and help us translate comics and get more releases out!</p>
        <h4>Why QWERTY</h4>
        <p>We are amazing people who will never fail to make your day, only the best are amongst our ranks.</p>
        <h4>What does QWERTY mean?</h4>
        <p>QWERTY is simply the first 6 keys on your keyboard going from left to right. It is simple to remember and easy to type.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
      </div>
    </div>
  </body>
</html>