{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | Contact Us</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/forms.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn selected" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Contact us here with any questions, comments, or suggestions.</p>
        <p>You can also visit us at <a href="https://www.facebook.com/QwertyScans/" target="_blank">Facebook</a> and/or <a href="https://discordapp.com/invite/65yGM9w" target="_blank">Discord</a>!</p>
        <br/>

        <div class="form">
          {% if msg %}
            <p style="color: blue;">{{ msg }}</p>
            <br/>
          {% endif %}
          <form action="{% url 'pages:contactForm' %}" method="post">
            {% csrf_token %}
            <label for="name">Name </label><label style="color: red;">*</label><br/>
            <input type="text" id="name" name="name" required>
            <br/>
            <label for="email">Email </label><label style="color: red;">*</label><br/>
            <input type="text" id="email" name="email" required>
            <br/>
            <label for="comment">Comment </label><label style="color: red;">*</label><br/>
            <textarea id="comment" name="comment" style="height:200px" required></textarea>
            <br/>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: The all the series worked on here is the property of the original author/artist. <br> QWERTY Scans is not an official distributor. If you like the series, please consider supporting the author by visiting the official site.</p>
      </div>
    </div>
  </body>
</html>