{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/float.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/blogPosts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/jumbotron.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn selected" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="floatSide">
          <h3>Latest Updates</h3>
          {% if chapter_list %}
            {% for chapter in chapter_list %}
              <a href="{% url 'reader:readChapter' chapter.manga.storage_name chapter.id %}">{{ chapter.manga.title }} {{ chapter }}</a>
              <br/>
            {% endfor %}
          {% endif %}
        </div>
        <div class="floatMain">
          {% if pinned_list %}
            {% for blog in pinned_list %}
              <div class="pinnedPost">
                <h2>{{ blog.title }}</h2>
                <h5>{{ blog.getCategory }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.created_date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.writer }}</h5>    
                <p>{{ blog.post|safe }}</p>
              </div>
            {% endfor %}
          {% endif %}
          {% if blog_list %}
            {% for blog in blog_list %}
              <div class="blogPost">
                <h2>{{ blog.title }}</h2>
                <h5>{{ blog.getCategory }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.created_date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.writer }}</h5>    
                <p>{{ blog.post|safe }}</p>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="updates">
      
    </div>

    <!--div class="jumbotron">
      <div class="container">
        <h2>Join Qwerty</h2>
        <p>Help us get releases out faster.</p>
        <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
      </div>
    </div-->

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
      </div>
    </div>
  </body>
</html>