{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn selected" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h2>Home</h2>
        <p>This is still a work in progress, please bare with me as changes are going to be constantly implemented.</p>
        <br/><br/>
        <h3>To do list:</h3>
        <ul>
          <li>latest releases on home page</li>
          <li>change projects index to images</li>
          <li>code the forms</li>
          <li>reader - left right key functionality</li>
          <li>announcements on homepage</li>
          <li>collage of projects for the jumbotron</li>
          <li>disqus????</li>
          <li>sort projects index by status???</li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2>Join Qwerty</h2>
        <p>Help us get releases out faster.</p>
        <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
      </div>
    </div>
  </body>
</html>