{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | Projects</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'reader/gallery.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn selected" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        {% if current_list %}
          <h2>Current Projects</h2>
          <div class="gallery">
            {% for manga in current_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
        {% if completed_list %}
          <h2>Completed Projects</h2>
          <div class="gallery">
            {% for manga in completed_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
        {% if hiatus_list %}
          <h2>Hiatus Projects</h2>
          <div class="gallery">
            {% for manga in hiatus_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
        {% if dropped_list %}
          <h2>Dropped Projects</h2>
          <div class="gallery">
            {% for manga in dropped_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
        {% if future_list %}
          <h2>Future Projects</h2>
          <div class="gallery">
            {% for manga in future_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: The all the series worked on here is the property of the original author/artist. <br> QWERTY Scans is not an official distributor. If you like the series, please consider supporting the author by visiting the official site.</p>
        <br/>
        <a href="{% url 'reader:upload' %}">Upload</a>
      </div>
    </div>
  </body>
</html>