{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | Projects</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'reader/gallery.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn selected" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h2>Projects</h2>
        {% if manga_list %}
          <div class="gallery">
            {% for manga in manga_list %}
              <a href="{% url 'reader:mangaDetail' manga.storage_name %}">
                <div class="picFrame">
                  <img src="{% static manga.pic_location %}" class="image">
                  <div class="overlay">
                    <div class="text">{{ manga.title }}</div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>No projects are available.</p>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
        <a href="{% url 'reader:upload' %}">Upload</a>
      </div>
    </div>
  </body>
</html>