{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | {{ manga.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
          <img src="{% static manga.pic_location %}">
        <h2>{{ manga.title }}</h2>
          <p><strong>Author: </strong>{{ manga.author }}</p>
          <p><strong>Artist: </strong>{{ manga.artist }}</p>
          <p><strong>Language: </strong>{{ manga.language }}</p>
          <p><strong>Genres: </strong>{{ manga.genres }}</p>
          <p><strong>Status: </strong>{{ manga.get_status_display }}</p>
          {% if manga.is_joint %}
            <p><strong>Joint: </strong>{{ manga.joints|safe }}</p>
          {% endif %}
          <p>{{ manga.description|safe }}</p>
          <br/>
      </div>
      <div class="container">
        {% if chapter_list %}
          <ul>
          {% for chapter in chapter_list %}
            <li><a href="{% url 'reader:readChapter' manga.storage_name chapter.id %}">{{ chapter }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No chapters are available.</p>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
      </div>
    </div>
  </body>
</html>