{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | Reader</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'reader/reader.css' %}" />
    <script src="{% static 'reader/blazy.js' %}"></script>
    <script>
      ;(function() {
        // Initialize
        var bLazy = new Blazy();
      })();
    </script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="home.html">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="home.html">Home</a>
          <a class="btn" href="about_us.html#">About</a>
          <a class="btn selected" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="recruitment.html">Recruitment</a>
          <a class="btn" href="contact_us.html">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <a href="{% url 'reader:mangaDetail' manga.storage_name %}"><h2>{{ manga.title }}</h2></a>
        <h3>{{ chapter }} - Page {{ page_num }}/{{ chapter.num_pages }}</h3>
      </div>
    </div>

    <div class="reader">
      <div class="buttonPanel">
        {% if prev_chap %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name prev_chap prev_chap_pages %}">&lt;&lt;</a>
        {% endif %}
        {% if prev_page %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name chapter.id prev_page %}">&lt;</a>
        {% endif %}
        {% if next_page %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name chapter.id next_page %}">&gt;</a>
        {% endif %}
        {% if next_chap %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name next_chap 1 %}">&gt;&gt;</a>
        {% endif %}
      </div>
      <div class="buttonPanel">
        <form action="{% url 'reader:stripReader' manga.storage_name chapter.id %}">
          <input type="submit" value="View" />
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form action="{% url 'reader:jumpPage' manga.storage_name chapter.id %}" method="post">
          {% csrf_token %}
          <!--select name="chapter" required="required">
            {% for chap in chapter_list %}
              <option value="{{ chap.id }}">{{ chap }}</option>
            {% endfor %}
          </select-->
          <select name="page" required="required">
            {% for page in page_list %}
              <option value="{{ page }}">{{ page }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Go" />
        </form>
      </div>
      {% if page_url %}
        <img class="b-lazy"
        src="{% static 'reader/images/kitty.gif' %}"
        data-src="{% static page_url %}"
        alt="kitty.gif"/>
      {% endif %}
      <div class="buttonPanel">
        {% if prev_chap %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name prev_chap prev_chap_pages %}">&lt;&lt;</a>
        {% endif %}
        {% if prev_page %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name chapter.id prev_page %}">&lt;</a>
        {% endif %}
        {% if next_page %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name chapter.id next_page %}">&gt;</a>
        {% endif %}
        {% if next_chap %}
          <a class="btn" href="{% url 'reader:pageReader' manga.storage_name next_chap 1 %}">&gt;&gt;</a>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: ...I'll get to it at some point.</p>
      </div>
    </div>
  </body>
</html>