{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>QWERTY Scans | Reader</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'reader/reader.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
    <script src="{% static 'reader/blazy.js' %}"></script>
    <script>
      ;(function() {
        // Initialize
        var bLazy = new Blazy();
      })();
    </script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="{% url 'pages:home' %}">
          <h1>QWERTY Scans</h1>
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <a class="btn" href="{% url 'pages:home' %}">Home</a>
          <a class="btn" href="{% url 'pages:aboutUs' %}">About</a>
          <a class="btn" href="{% url 'reader:index' %}">Projects</a>
          <a class="btn" href="{% url 'pages:recruit' %}">Recruitment</a>
          <a class="btn" href="{% url 'pages:contactUs' %}">Contact Us</a>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <a href="{% url 'reader:mangaDetail' manga.storage_name %}"><h2>{{ manga.title }}</h2></a>
        <h3>{{ chapter }}</h3>
      </div>
    </div>

    <div class="reader">
      <div class="buttonPanel">
        <form action="{% url 'reader:jumpChapter' manga.storage_name 'webtoon' %}" method="post">
          {% csrf_token %}
          <select name="chapter" required="required">
            {% for chap in chapter_list %}
              <option value="{{ chap.id }}">{{ chap }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Go" />
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--form action="{% url 'reader:pageReader' manga.storage_name chapter.id 1 %}">
          <input type="submit" value="View" />
        </form-->
      </div>
      <div class="buttonPanel">
        {% if prev_id %}
          <a class="btn" href="{% url 'reader:stripReader' manga.storage_name prev_id %}">Previous</a>
        {% endif %}
        {% if next_id %}
          <a class="btn" href="{% url 'reader:stripReader' manga.storage_name next_id %}">Next</a>
        {% endif %}
      </div>
      {% if page_list %}
        {% for page in page_list %}
          <img class="b-lazy"
          src="{% static 'reader/images/kitty.gif' %}"
          data-src="{% static page %}"
          alt="kitty.gif"/>
        {% endfor %}
      {% endif %}
      <div class="buttonPanel">
        {% if prev_id %}
          <a class="btn" href="{% url 'reader:stripReader' manga.storage_name prev_id %}">Previous</a>
        {% endif %}
        {% if next_id %}
          <a class="btn" href="{% url 'reader:stripReader' manga.storage_name next_id %}">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Disclaimer: The all the series worked on here is the property of the original author/artist. <br> QWERTY Scans is not an official distributor. If you like the series, please consider supporting the author by visiting the official site.</p>
      </div>
    </div>
  </body>
</html>
